#navigate {
	overflow: hidden;
	background-color: #333;
}

#navigate a {

	float: left;
	display: block;
	color: #ff0000;                                          <--! text colour-->
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	background-attachment:fixed;
}
.content {
	padding: 16px;
}
#navigate a:hover {
	background-color: #ddd;
	color: black;
}

#navigate a.active {
	background-color: #4CAF50;
	color: white;
}


.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}


.sticky + .content {
	padding-top: 60px;
}
body {
	color : white;
	margin: 0;
	font-family:  Lato , Helvetica, sans-serif;
	font-style :italic;
	font-weight :bold;
	background-color: black;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;    
	background-attachment: fixed;

}
#navigate a.active-page
{
	background-color:#00ccff;
}
img {

	float : left;
	display: block;
	border-radius:10%;
	margin-left: 10px;
	margin-right: 10px;
	width: 30%;
	height: 30%;
}

li {
	display: inline;
}
@media only screen and (max-width: 620px) {

	body {
		font-size: 2em;
	}

}
h2 {
	margin-left: 50px;
}
#img1 {
	height: 500px;
	width: 500px;
	float: left;
	
	margin-left: 50px;
	
}
#d1 {
	font-size: 50px;
}
#book
{
	font-size: 50px;
}

#roll {
	height: 40px;
	font-size: 50px;
	width : 400px;
}

#time {
	height: 40px;
	font-size: 50px;
	width : 200px;
}